@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Kanit:ital@0;1&display=swap');

.block1 {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
  /* ---------------------------------------------------------------------------------------------------------------*/


  /* ---------------------------------------------------------------------------------------------------------------*/

.title-container {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 20px;
    align-items: center;
}
  
.title {
  text-align: center;
  margin-top: 30px;
}
  
.title-line {
  margin: 0;
  line-height: 1;
}
.title .n1 {
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
}
.title .n2 {
  font-size: 57px;
  font-family: 'Josefin Sans', sans-serif;
}
.title-line:not(:last-child) {
  margin-bottom: 10px; 
}
.title-line .blue, .red, .white {
  font-size: 120px;
}
.title-line span {
  font-family: 'Kanit', sans-serif;
}
.blue {
  color: #0040ff;
}
.white {
  color: white;
}
.red {
  color: red;
}
  /* ---------------------------------------------------------------------------------------------------------------*/

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.button a {
    padding: 14px 28px;
    border-radius: 20px;
    background-color: red;
    border: none;
    outline: none;
    transition: .2s;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
}
.button a:hover{
    padding: 14px 42px;
}
  